{% extends 'base.html' %}

{% block title %} Bills {% endblock %}



{% block content %}

    <h2 class="text-center mt-5">Bills </h2>

    <p class="text-center">A place to view and follow bills. </p>

    <div class='container'>
        
        {% include 'bills/wtforms_subject_select.html' %}
    
        {% if bills%}

            <div class="container">
                <div class="container d-flex align-items-end flex-column mb-none">
                    <div class="form-check form-switch mt-3 d-flex justify-content-end">
                        <p class="mb-0">
                            <input class="form-control form-check-input " type="checkbox" id="show-details">
                            <label class="form-check-label" for="show-details">Show Updates</label>
                        </p>
                    </div>
                </div>
            </div>
            

            {%for bill in bills.items%}
                {% include 'bills/bill_block.html' %}
            {% endfor %}
    
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-2">
                        <!-- Pagination Links-->
                        <div id='pagination-links' class="text-center">
                            <a href="{{ url_for('view_bills',policy_area=form.policy_area.data, session=form.session.data,page=bills.prev_num) }}"
                            class="btn btn-outline-dark 
                            {% if bills.page == 1 %}disabled{% endif %}">
                                &laquo;
                            </a>
                            <!-- Loop through the number of pages to display a link for each-->
                            {% for page_num in bills.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                <!-- Check for the active page and set the link to "Active"-->
                                    {% if bills.page == page_num %}
                                    <a href="{{ url_for('view_bills',policy_area=form.policy_area.data, session=form.session.data, page=page_num) }}"
                                    class="btn btn-dark">
                                        {{ page_num }}
                                    </a>
                                    {% else %}
                                    <a href="{{ url_for('view_bills',policy_area=form.policy_area.data, session=form.session.data, page=page_num) }}"
                                    class="btn btn-outline-dark">
                                        {{ page_num }}
                                    </a>
                                    {% endif %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                            <a href="{{ url_for('view_bills',policy_area=form.policy_area.data, session=form.session.data, page=bills.next_num) }}"
                            class="btn btn-outline-dark 
                            {% if bills.page == bills.pages %}disabled{% endif %}">
                                &raquo;
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-2">
                        <p class="mt-3 text-center fst-italic">
                            Showing page {{ bills.page }} of {{ bills.pages }}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
        

{% endblock %}

