{% extends 'base.html' %}

{% block title %} Single Bill {% endblock %}




{% block content %}    

    <div class="container mt-5">

        <div id={{bill.id}} class="card">
            <div class="card-header font-weight-bold">
                <div class="row">
                    <div class="col-9">
                        {{bill.bill}}
                    </div>
                    <div class="col-3">
                        <span class="text-right"> Last Major Action: <span class="font-weight-bold text-danger">{{bill.latest_major_action_date}}</span></span>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-11">
                        <p class="py-1 px-2 text-light bg-dark rounded d-inline-block mb-3"> <span class="font-weight-bold"><i class="far fa-dot-circle"></i> Last Major Action: </span> <span class="font-italic">{{bill.latest_major_action}}</span></p>
                    </div>
                    <div class="col-1">
                        <p class="btn btn-dark text-right follow-button"><i class="fas fa-bookmark"></i></p>
                    </div>
                </div>

                {%if bill.short_title%}
                <h4 class="card-title font-weight-bold text-capitalize my-4">{{bill.short_title}}</h4>
                {% else %}
                <h4 class="card-title font-weight-bold text-capitalize my-4">{{bill.title}}</h4>
                {% endif %}

                <h5 class="card-title">Summary</h5>
                <p class="card-text mb-4">{{summary}}</p>
                <a href="{{bill.congressdotgov_url}}}/text" class="btn btn-outline-dark"><i class="fas fa-external-link-alt"></i> View Full Bill at  <span class="font-italic">Congress.gov</span></a>
                <h5>Sponsor: </h5>
                <p>{{bill.sponsor.position.name}} {{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</p>
                <a href="/legislator/{{bill.sponsor.id}}"><img class="rounded-circle" src="{{bill.sponsor.image}}" style="width:200px" alt=""></a>
                <div>
                    <a href="/legislator/{{bill.sponsor.id}}" class="btn btn-dark"><i class="fas fa-external-link-alt"></i> View {{bill.sponsor.position_code}} {{bill.sponsor.last_name}}'s Page</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
