{% extends 'base.html' %}

{% block title %} Single Bill {% endblock %}




{% block content %}    


        <div id='{{bill.id}}' class="card mt-5 shadow-sm">
            <div class="card-body">
                <!-- Top of Bill Data  -->
                <div class="row justify-content-between mb-5">
                    <div class="col-3">
                        <a href="/bills/{{bill.id}}" class="shadow-sm btn btn-dark py-1"><i class="fas fa-scroll"></i> {{bill.bill}}</a>
                    </div>
                    <div class="col-2 col-md-1">
                        <button class="btn btn-outline-dark follow-button"><i class="far fa-bookmark"></i></button>
                    </div>
                </div>
                <div class="row last-major-action mb-5">
                    <div class="col-sm-12  col-lg-12 text-center">
                        <p class="p-3 text-light bg-dark rounded d-inline-block mb-3"><span class="fw-bold"><i class="far fa-dot-circle"></i> Last Major Action: </span> <span class="fst-italic">{{bill.latest_major_action}}</span></p>
                    </div>
                </div>

                <!-- Bill Title -->
                <div class="container">
                    <div class="row justify-content-center mb-2">
                        <div class="col-sm-12 col-md-10 mb-3">
                            {% if bill.short_title %}
                            <p class="lead p-1 text-capitalize text-center text-md-left">{{bill.short_title}}</p>
                            {% else %}
                            <p class="lead p-1 text-capitalize text-center text-md-left">{{bill.title}}</p>
                            {% endif %}
                        </div>
                    </div>

                <!-- Key Bill Dates Section -->
                    <div class="row justify-content-center mb-3">
                        <div class="col-12 col-md-6">
                            <div class="row justify-content-center">
                                <div class="col-sm-4 text-center text-lg-start">
                                    <span class="fw-bold"><i class="far fa-calendar-check"></i> </i>Introduced: </span>
                                </div>
                                <div class="col-sm-4 text-center text-lg-start">
                                    <span class="">{{bill.introduced_date}}</span>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-4 text-center text-lg-start">
                                    <span class="fw-bold"><i class="far fa-calendar-check"></i> </i>Last Major Action: </span>
                                </div>
                                <div class="col-sm-4 text-center text-lg-start">
                                    <span class="">{{bill.latest_major_action_date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                <!-- Bill Summary Section -->
                <div class="bill-summary mt-5">
                    <h5 class="card-title"><i class="fas fa-feather-alt"></i> Summary</h5>
                    <div class="container">
                        {% if summary: %}
                        <p class="card-text mb-4">{{summary}}</p>
                    {% else %}

                        <p class="fst-italic">No summary currently available.</p>
                    {% endif %}
                    </div>
                </div>
                <!-- Link to Congress Website -->
                <div class="text-center mb-5 mt-3">
                    <a href="{{bill.congressdotgov_url}}}/text" class="btn btn-outline-dark text-center"><i class="fas fa-external-link-alt"></i> View Full Bill at  <span class="font-italic">Congress.gov</span></a>

                </div>
                <h5><i class="fas fa-user-edit mb-2"> </i> Primary Sponsor </h5>
                <div class="align-items-center">
                    <a class="" href="/legislator/{{bill.sponsor[0].members.id}}"><img class="rounded mx-auto d-block" src="{{bill.sponsor[0].members.image}}" style="width:150px" alt=""></a>
                </div>
                <h5 class="text-center mt-2">{{bill.sponsor[0].members.position.name}} {{bill.sponsor[0].members.first_name}} {{bill.sponsor[0].members.last_name}}</h5>
                <div class="text-center mt-3">
                    <a href="/legislator/{{bill.sponsor[0].members.id}}" class="btn btn-outline-dark"><i class="fas fa-external-link-alt"></i> View {{bill.sponsor[0].members.position_code}} {{bill.sponsor[0].members.last_name}}'s Page</a>
                </div>
            </div>
        </div>

{% endblock %}
