
<form id='bill-search-form' action="/bills" method="GET">

    <select class="form-control" name="session" id="session">

        {% for session in sessions%}

            <option value="{{session.id}}">{{session.id}}</option>

        {% endfor %}

    </select>

    <select class="form-control" name="policy-area" id="policy-area">

        {% for policy_area in policy_areas%}

            <option value="{{policy_area.id}}">{{policy_area.name}}</option>

        {% endfor %}

    </select>
</form>