body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
}

#content{

    text-align: center;
}

.navbar{
    background-color: #212021;
    overflow: hidden;

}

.navbar a{
    float: left;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    background-color: #f1f1f1;
    color:#212021;
}

h1{

    color: #212021;
    margin: 50px;
    text-align: center;
}

h2{
    color: #212021;
    text-align: center;
}


.navbar a.right-nav-buttons{

    float: right;
}

#logout-container{

    float: right;
}

#logout{

    color: #f1f1f1;
    text-align: center;
    width: max-content;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #212021;
    overflow: hidden;
    font-family: monospace;
    box-sizing: none;
    border: none;
}

#logout:hover{

    background-color: #f1f1f1;
    color:#212021;
    cursor: pointer;
}

#get-data-container{

    text-align: center;
}

#get-data{

    color: #f1f1f1;
    text-align: center;
    width: max-content;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #212021;
    overflow: hidden;
    font-family: monospace;
    box-sizing: none;
    border: none;
}

#get-data:hover{

    background-color: #f1f1f1;
    border: 1px solid #212021;
    color:#212021;
    cursor: pointer;
}

.bill-container{
    margin: auto;
    max-width: 500px;
    text-align: center;
    /* text-justify: inter-word; */
}

.bill{
    text-align: center;
}

form{
    text-align: center;   
}

ul{
    text-align: center;   
}

.position{
    font-weight: bold
}


/*  to add: 

    hover to navbar buttons

*/

