<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://unpkg.com/jquery"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-glasses"></i> Lumine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/bills">Bills</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/legislators">Legislators</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/learn">Learn</a>
        </li>
      </ul>
      <ul class="nav navbar-nav align-items-end">
      {% if 'user_id' not in session %}

        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-button nav-item active">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        {% else %}
        <li class="nav-button nav-item active">
          <!-- need to do g.user thing here, or else won't show username top right -->
          <a class="nav-link" href="/profile">Hello, <u><span class="font-weight-bold">{{g.user.username}}</span></u></a>
        </li>
        <li class="nav-button nav-item active">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-button nav-item active">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif%}
  
    </ul>
    </div>
  </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    
    
</body>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="/static/policy_area.js"></script>
    <script src="/static/app.js"></script>
</html>