{% extends 'base.html' %}

{% block title %} Bills {% endblock %}



{% block content %}

    <h2 class="text-center mt-5">Bills </h2>

    <p class="text-center">A place to view and follow bills. </p>

    <div class='container'>
        <div class='m-3 p-3 card'>

            <form method="POST">

            {{ form.hidden_tag() }}

            {% for field in form %}

                {% if field.widget.input_type != 'hidden' %}

                    <p>
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            
                                {{ error }}

                            {% endfor %}
                        {%endif%}
                    </p>

                {% endif %}

            {% endfor %}

            <button class="btn btn-primary">Submit!</button>

            </form>
        </div>
    </div>

    <div class='container'>

        {% if bills%}

            {%for bill in bills%}
            <div class="card m-3">
                <div class="card-header font-weight-bold">
                    {{bill.bill}}
                </div>
                <div class="card-body">
                    {% if bill.short_title %}
                    <h5 class="card-title font-weight-bold">{{bill.short_title}}</h5>
                    {% else %}
                    <h5 class="card-title font-weight-bold">{{bill.title}}</h5>
                    {% endif %}

                    <div class="summary-container">
                        <h5>Summary</h5>
                        <p>{{prune_summary(bill.summary)}}</p>
                    </div>
                    <div class="buttons">
                        <button class="summary-button btn btn-success">View Summary</button>
                        <a href="/bills/{{bill.id}}" class="btn btn-primary">View Bill</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        {% endif %}

    </div>

{% endblock %}

