{% extends 'base.html' %}

{% block title %} Bills {% endblock %}



{% block content %}

    <div id="bill-container">

        <form method="POST">

        {{ form.hidden_tag() }}

        {% for field in form %}

            {% if field.widget.input_type != 'hidden' %}

                <p>
                    {{ field.label }}
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                        
                            {{ error }}

                        {% endfor %}
                    {%endif%}
                </p>

            {% endif %}

        {% endfor %}


        <button>Submit!</button>

        </form>


        {% if bills%}

        <ol>
            {%for bill in bills%}

                    <li>
                        {% if bill.short_title %}
                        <a href="/bills/{{bill.bill_slug}}" class="bill">{{bill.short_title}}</a>
                        {% else %}
                            <a href="/bills/{{bill.bill_slug}}" class="bill">{{bill.title}}</a>
                        {% endif %}
                    </li>
            {% endfor %}
        </ol>


        {% endif %}

    </div>

{% endblock %}

