{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

    <h1 class="text-center mt-3">Welcome back, <span class="font-weight-bold"><u>{{session['username']}}</u></span>!</h1>

    <h5>Followed Bills: </h5>

    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>

{% endblock %}
