{% extends 'base.html' %}

{% block title %} Learn {% endblock %}



{% block content %}

<h2 class="text-center mt-5">Learn</h2>
<p class="text-center mt-3">A place to learn about how the legislation process works.</p>

<h3>To Do:</h3>
<p class="small text-danger font-italic">Add how many reps/sens per state and territory information</p>
<p class="small text-danger font-italic">Add information about how often legislators are elected/how many</p>
<p class="small text-danger font-italic">Add information about how the legislation process goes through/ voting percentages etc</p>
<p class="small text-danger font-italic"></p>
<p class="small text-danger font-italic"></p>
<p class="small text-danger font-italic"></p>


{% endblock %}