{% extends 'base.html' %}

{% block title %} Legislators {% endblock %}



{% block content %}

    <div id="home-container">
        
        <h2 class="text-center mt-5">Legislators </h2>

        {% if 'username' not in session%}

        <p class="text-center mt-3">A place to view legislator info and voting records. </p>
        {% else %}

            {% for member in members%}
                {% include 'member_block.html' %}
            {% endfor %}
        {% endif %}

    </div>

{% endblock %}