{% extends 'base.html' %}

{% block title %} Legislators {% endblock %}



{% block content %}

    <div id="home-container">
        
        <h2 class="text-center mt-5">Legislators </h2>

        {% if 'username' not in session%}

        <p class="text-center mt-3">A place to view legislator info and voting records. </p>
        {% else %}

        <div class="mt-5">
            <span class="badge badge-pill badge-light">Senate</span>
            <span class="badge badge-pill badge-light">House</span>
            <span class="badge badge-pill badge-light">Session</span>
        </div>
        

        <table class="table table-striped mt-1">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Position</th>
                <th scope="col">State</th>
                <th scope="col">Party</th>
                <th scope="col">View</th>
                <th scope="col">Follow</th>
              </tr>
            </thead>
            <tbody>
                {% for member in members%}
                {% include 'member_block_table_version.html' %}
                {% endfor %}
            </tbody>
          </table>
        {% endif %}

        <h3>To Do:</h3>
        <p class="small text-danger font-italic">Now just Senators - ADD REPRESENTATIVES</p>
        <p class="small text-danger font-italic">Image of member</p>
        <p class="small text-danger font-italic">Bills Sponsored</p>
        <p class="small text-danger font-italic">Recent Votes</p>
        <p class="small text-danger font-italic">Voting Record</p>
        <p class="small text-danger font-italic">Add filters for viewing members by state and party and maybe more</p>
        <p class="small text-danger font-italic">Down the Road Goal: Show stats on how many bills sponsored, what subjects, how many passed, how much money</p>


    </div>

{% endblock %}