{% extends 'base.html' %}

{% block title %} Legislators {% endblock %}



{% block content %}

    <div id="home-container">
        
        <h2 class="text-center mt-5">Legislators </h2>

        <p class="text-center mt-3">A place to view legislator info and voting records. </p>

        <ul>
            {% for member in members%}
                <li>{{member.last_name}}, {{member.first_name}}</li>
            {% endfor %}
        </ul>

    </div>

    <!-- <div id="get-data-container">
        <a id="get-data" href="">Show data!</a>
    </div> -->

{% endblock %}