{% extends 'base.html' %}

{% block title %} My Dashboard {% endblock %}


{% block content %}

    <div class="container mt-5">
        <h1 class="text-center">My State</h1>
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card shadow-sm p-2">
                    <h3 class="text-center">{{user.state_id}}</h3>
                </div>
            </div>
        </div>

        <h1 class="text-center mt-5">My Legislators</h1>
    


        {% if legislators:%}

            <div class="container mt-5">
                
                <h3 class="text-center mb-3">Senators</h3>
                <div class="row justify-content-center">
                            {% for leg in legislators['s']: %}
                            <div class="col-4">
                                    {% include 'legislators/sen_card_sm.html'%}
                            </div>
                                {% endfor %}
                            
                </div>
            </div>

            <div class="container mt-5">

                <h3 class="text-center mb-3">Representatives</h3>

                {% for i in range(0,legislators['r']|length,2): %}
                <div class="row justify-content-center">

                {% for j in range(i,i+2): %}

                        {% if legislators['r']|length > j:  %}
                        <div class="col-4 mb-2">
                            {% include 'legislators/rep_card_sm.html'%}
                        </div>
                        {% else %}
                        <!-- empty column for alignment -->
                        <div class="col-4 mb-2">
                        </div>
                        {% endif %}

                {% endfor %}

                </div>
            {% endfor %}
            </div>
            
        {% else %}

            <p class="text-danger"><i>You must enter your state in your profile to see your legislators</i></p>
        {% endif %}

        <h1 class="text-center mt-5">My Bills</h1>
        {% if bills%}
            
        <div class="container">
            {%for bill in bills%}
            {% include 'bills/bill_block.html' %}
            {% endfor %}
        </div>

        {% endif %}
    </div>
    <h3>To Do:</h3>
    <p class="small text-danger font-italic">(Add view bills by subject/date/congresspeople?)</p>

{% endblock %}
