{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block content %}

    <h1 class="text-center mt-5"><span class="font-weight-bold">{{user.username}}'s Dashboard</u></span></h1>

    <h2>My State: {{user.state_id}}</h2>


    <h2>My Legislators</h2>

    {% if legislators:%}

        <h3>Senators</h3>
        <div class="row">
                    {% for leg in legislators['s']: %}
                    <div class="col-6">
                            {% include 'legislators/legi_card_sm.html'%}
                    </div>
                        {% endfor %}
                    
        </div>
        <h3>Representatives</h3>
        <div class="row">

            {% for leg in legislators['r']: %}

            <div class="col-6 mb-2">
                {% include 'legislators/legi_card_sm.html'%}
            </div>
            {% endfor %}
        </div>
    

    {% else %}

        <p class="text-danger"><i>You must enter your state in your profile to see your legislators</i></p>
    {% endif %}

    <h5>Followed Bills: </h5>

    {% include 'bills/bill_block.html' %}

    <h3>To Do:</h3>
    <p class="small text-danger font-italic">(Add view bills by subject/date/congresspeople?)</p>

{% endblock %}
