{% extends 'base.html' %}

{% block title %} Delete Account {% endblock %}

{% block content %}


    <div class="container mt-5">
        <h3 class="text-center mb-5">Are you sure you want to delete your account?</h3>

        <form action="/profile/delete" method="POST">
    
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
        
            <div class="form-group row justify-content-center">
                <div class="col-6">
                    <div class="container text-end">
                        {{ form.delete_account }}
                        <a class="btn btn-outline-dark text-end" href="/profile">Go Back</a>
                    </div>
                </div>
            </div>
    
        
        
        </form>
    </div>


{% endblock %}