{%block form%}

    {{ form.hidden_tag() }}

    {% for field in form %}

        {% if field.widget.input_type != 'hidden' %}


            <div class="form-group row justify-content-center">
                <div class="col-12 col-sm-6">
                    <p>
                        {{ field.label }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            
                                {{ error }}
    
                            {% endfor %}
                        {%endif%}
                    </p>
                </div>
            </div>

        {% endif %}

    {% endfor %}

    <div class="text-center d-grid gap-1 d-md-block">
        <button type="submit" class="btn btn-dark">Submit</button>
    </div>

{%endblock%}