

    <form class='my-5' id='bill-search-form' action="/legislators" method="GET">
        
        <div class="container">
            <div class="form-group row justify-content-center">
                {% for field in form %}

                    {% if field.widget.input_type != 'hidden' %}

                            <div class="col-12 col-md-10 col-xl-2">
                                <p>
                                    {{ field.label }}
                                    {{ field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                        
                                            {{ error }}
                
                                        {% endfor %}
                                    {%endif%}
                                </p>
                            </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>

    </form>