{% extends 'base.html' %}

{% block title %} Legislators {% endblock %}



{% block content %}

    <h2 class="text-center mt-5">Legislators </h2>

    <p class="text-center">A place to view Legislators. </p>

    <div class='container'>

        {% if legislators%}

          {% include 'legislators/legislator_search_form.html'%}

            {% include 'legislators/legislator_card_block.html'%}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <!-- Pagination Links-->
                    <div id='pagination-links' class="text-center">
                        <a href="{{ url_for('view_legislators',position=form.position.data, state=form.state.data, party=form.party.data, page=page_num) }}"
                        class="btn btn-outline-dark 
                        {% if legislators.page == 1 %}disabled{% endif %}">
                        &laquo;
                        </a>
                        <!-- Loop through the number of pages to display a link for each-->
                        {% for page_num in legislators.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_num %}
                            <!-- Check for the active page and set the link to "Active"-->
                                {% if legislators.page == page_num %}
                                <a href="{{ url_for('view_legislators',position=form.position.data, state=form.state.data, party=form.party.data, page=page_num) }}"
                                class="btn btn-dark">
                                    {{ page_num }}
                                </a>
                                {% else %}
                                <a href="{{ url_for('view_legislators',position=form.position.data, state=form.state.data, party=form.party.data, page=page_num) }}"
                                class="btn btn-outline-dark">
                                    {{ page_num }}
                                </a>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        <a href="{{ url_for('view_legislators',position=form.position.data, state=form.state.data, party=form.party.data, page=legislators.next_num) }}"
                        class="btn btn-outline-dark 
                        {% if legislators.page == legislators.pages %}disabled{% endif %}">
                        &raquo;
                        </a>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-12 col-sm-6">
                    <p class="mt-3 text-center fst-italic">
                        Showing page {{ legislators.page }} of {{ legislators.pages }}
                    </p>
                </div>
            </div>
        </div>

        {% endif %}
    </div>

{% endblock %}

