


{% block content %}

    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <a href="/legislator/{{leg.id}}"><img class="rounded" style="max-width:50px"  src="{{leg.image}}" alt=""></a>
                </div>
                <div class="col">
                    <small>{{leg.position.name}}</small> 
                    <h5>{{leg.first_name}} {{leg.last_name}}</h5>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
