{% extends 'base.html' %}

{% block title %} View Legislator {% endblock %}




{% block content %}    

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">
            <div class="card mt-5 p-5 shadow p-3">
                <div class="card-body"></div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-4">
                            <img src="{{legislator.image}}" style="width: 300px;" class="img-fluid rounded mx-auto d-block shadow-sm" alt="No Image Available" onerror='this.src="{{g.legislator_default_image_path}}"'>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h3 class="mt-3">
                                        {{legislator.first_name}} {{legislator.last_name}}
                                    </h3>
                                    <h4><small class="text-muted">{{legislator.position.name}} from {{legislator.state.name}}</small></h4>
                                    <p class="card-text">Find out more about {{legislator.position.name}} {{legislator.last_name}} here!</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <dl class="row mt-3">
                                        <dt class="text-end col-6">Position:</dt>
                                        <dd class="col-6">{{legislator.position.name}}</dd>
                                        
                                        <dt class="text-end col-6">State:</dt>
                                        <dd class="col-6">{{legislator.state.name}}</dd>
                
                                        <dt class="text-end col-6 ">Party:</dt>
                                        <dd class="col-6">{{legislator.party.name}}</dd>
                                        
                                        <dt class="text-end col-6 text-truncate">Office:</dt>
                                        <dd class="col-6">{{legislator.office_address}}</dd>

                                        <dt class="text-end col-6 text-truncate">Phone:</dt>
                                        <dd class="col-6">{{legislator.phone}}</dd>
                
                                        <dt class="text-end col-6">Website:</dt>
                                        <dd class="col-6 col-lg-6 d-grid gap-1">
                                            <a class="btn btn-outline-dark" href='{{legislator.website}}'><i class="fas fa-external-link-alt"></i> Go </a>
                                        </dd>
                
                                        <dt class="text-end col-6">Social Media:</dt>
                                        <dd class="col-2">
                                            <a href="https://www.facebook.com/{{legislator.facebook_account}}">
                                                <h1><i class="text-dark fab fa-facebook-square"></i></h1>
                                            </a>  
                                        </dd>
                                        <dd class="col-2">
                                            <a href="https://www.twitter.com/{{legislator.twitter_account}}">
                                                <h1><i class="text-dark fab fa-twitter-square"></i></h1>
                                            </a>     
                                        </dd>
                                        <dd class="col-2">
                                            <a href="https://www.youtube.com/{{legislator.youtube_account}}">
                                                <h1><i class="text-dark fab fa-youtube-square"></i></h1>
                                            </a>   
                                        </dd>
                                    </dl>
                                    <div class="d-grid gap-1 d-md-block">
                                        <button id="sponsored-bills-button" class="btn btn-dark"><i id='sponsored-bills-button-icon'  class="fas fa-caret-square-down fa-caret-square-up"></i> View Sponsored Bills</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
        
        
                    <div id="sponsored-bills" class="d-none mt-3">
                        <h5 class="card-title mb-4"><i class="fas fa-scroll"></i> Sponsored Bills </h5>
        
                                {% if sponsored_bills: %}

                                    <div class="container d-flex align-items-end flex-column mb-none">
                                        <div class="form-check form-switch mt-3 d-flex justify-content-end">
                                            <p class="mb-2">
                                                <input class="form-control form-check-input " type="checkbox" id="show-details">
                                                <label class="form-check-label" for="show-details">Show Updates</label>
                                            </p>
                                        </div>
                                    </div>
                                    {% for bill in sponsored_bills:%}
        
                                        <div class="mb-3">
                                            {% include 'bills/sponsored_bill_block.html' %}
                                        </div>
        
                                    {% endfor %}
        
                                {% else %}
                                <div class="container">

                                    <p class="fst-italic" >No sponsored bills at this time. </p>
                                </div>
        
                                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}